<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiao.album.dao.ImageDao">

    <insert id="addImage" parameterType="image" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `image`(path, size, content_type, create_time)
        VALUES (#{path}, #{size}, #{contentType}, CURRENT_TIMESTAMP)
    </insert>

    <select id="getImageIdByPath" parameterType="string" resultType="int">
        SELECT `id`
        FROM `image`
        WHERE `path` = #{path}
    </select>

    <select id="getImageById" parameterType="int" resultType="image">
        SELECT *
        FROM `image`
        WHERE `id` = #{id}
    </select>

    <insert id="say">
        INSERT INTO comment(user_id, imal_id, message, create_time, modified_time)
        VALUES (#{userId}, #{imalId}, #{message}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <select id="getCommentCount" resultType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE imal_id = #{imalId}
          AND deleted = FALSE
    </select>

    <select id="getComments" resultType="sayVo">
        SELECT *
        FROM comment
        WHERE imal_id = #{imalId}
          AND deleted = FALSE
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="getCommentById" resultType="sayVo">
        SELECT *
        FROM comment
        WHERE id = #{commentId}
          AND deleted = FALSE
    </select>

    <update id="deleteCommentById">
        UPDATE comment
        SET deleted= TRUE,
            modified_time=CURRENT_TIMESTAMP
        WHERE id = #{commentId}
          AND deleted = FALSE
    </update>

</mapper>